@page "/"
@rendermode InteractiveServer
@using DevCircle.Todo.API.Client.Services
@using DevCircle.Todo.Application.Mapping.DTOs
@inject NavigationManager NavManager;
@inject TodoItemService _todoService
<PageTitle>Todos</PageTitle>

<MudContainer>
	<MudPaper Class="pa-5 ma-2" Outlined="true" Square="true">
		<div class="d-flex">
			<MudText Typo="Typo.h2">Todos</MudText>
			<MudButton Variant="Variant.Filled"
					   Size="Size.Medium"
					   class="ml-auto"
					   OnClick="@(() => NavManager.NavigateTo("/todo/create"))">
				Add
			</MudButton>
		</div>
	</MudPaper>
	<MudPaper>
		<div>
			@if (_todoItems is null || _todoItems.Count() == 0)
			{
				<MudText Style="ruby-align">Nothing left to do ;)</MudText>
			}
			else
			{
				<MudList Clickable=true>
					@foreach (var item in _todoItems)
					{
						<TodoListItem TodoItem="item" ClickHandler="@(async () => await NavigateToItem(item))" />
					}
				</MudList>
			}
		</div>
	</MudPaper>
</MudContainer>
@code {
	private IEnumerable<TodoItemDTO> _todoItems = null!;

	protected override async Task OnInitializedAsync()
	{
		var result = await _todoService.GetAll();
		_todoItems = result.TodoItemDTOs;
		await base.OnInitializedAsync();
	}

	private async Task NavigateToItem(TodoItemDTO item)
	{
	}
}
